@page
@model SecurityProject.Pages.NotAuthenticatedModel
@{
    ViewData["Title"] = "Not Authenticated";
}

<h1 class="text-danger">Not Authenticated.</h1>
<h2 class="text-danger">You have to login first</h2>


<p>
    Login <a asp-page="Login">From Here</a>
</p>
<p>
    Register <a asp-page="Register">From Here</a>
</p>
