@page
@model SecurityProject.Pages.NotAuthorizedModel
@{
    ViewData["Title"] = "Not Authorized";
}
<h1 class="text-danger">Not Authorized.</h1>
<h2 class="text-danger">You dont have the authority to access this page or take this action</h2>
